<% layout('layouts/boilerplate') %> 

<div class="cover-container">
    <div id="map" style="height: 500px;">
    </div>
</div>

<div class="container"> 
    <div class="row">
        <% for( let camp of allcamps) { %>
            <div class="col-xl-4 col-md-6 my-4">
                <div class="card shadow mx-auto" id="campCard" style="width: 21rem">
                    <% if(camp.images.length) { %> 
                        <img src="<%= camp.images[0].url%>" class="card-img-top" alt="Campground Image" id="cardImg" >
                    <% } %> 
                    <div class="card-body text-center">
                        <p class="card-title  fs-4 mb-3"><%= camp.title %></p>
                        <p class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                            <small><%= camp.location %></small>
                        </p>
                        <div class="d-flex justify-content-center mt-4">
                            <a href="campground/<%= camp.id %>" class="btn btn-outline-primary">More Info</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
</div>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const allcamps = { features: <%- JSON.stringify(allcamps) %>}
</script>

<script src="/js/clusterMap.js"></script>
